@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.productsWrapper {
    width: 100%;
    height: 20rem;

    &:hover > &__btn {
        opacity: 1;
    }

    &:hover .swiper-button-disabled {
        opacity: 0.5;
    }

    &__btn {
        width: 45px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        cursor: pointer;
        z-index: 50;
        box-shadow: 0 1px 3px 0 getVar("colors.gray-400");
        background-color: getVar("colors.white");
        transition: 0.3s;

        &--next {
            right: 0;
            border-radius: getVar("radius.rounded") 0 0 getVar("radius.rounded");
        }

        &--prev {
            left: 0;
            border-radius: 0 getVar("radius.rounded") getVar("radius.rounded") 0;
        }
    }
}

.slide {
    height: 100%;
    padding: 0 1rem;

    .product {
        @include grid(minmax(0, 1fr) 20%, 1fr);
        width: 100%;
        height: 100%;
        cursor: pointer;

        h3 {
            @include flex(center, center);
            width: 100%;
            font-weight: getVar("weight.font-semibold");
            text-align: center;

            span {
                display: -webkit-box;
                line-clamp: 1;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .productImage {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
