@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.cart {
    @include flex(center, flex-start);
    padding: getVar("padding.p-8");
    background-color: getVar("colors.gray-200");
}

.emptyCart {
	// TODO: bux-shadow and border-radius
    @include flex(flex-start, flex-start, column);
    width: 100%;
    padding: getVar("padding.p-8");
    gap: getVar("gap.gap-4");
    box-shadow: 0 1px 2px 0 #c7d2fe;
    color: #333;
    background-color: getVar("colors.white");

    &__heading {
        @include font("3xl");
        font-weight: getVar("weight.font-bold");
    }

    &__link {
        color: getVar("colors.blue-500") !important;

        &:hover {
            color: getVar("colors.blue-800") !important;
            text-decoration: none !important;
        }
    }
}
