@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";
@import "@styles/_placeholder.scss";

.cart {
    @extend %page;
    @include grid(1fr, minmax(642px, 1fr) 300px);
    margin: 0 auto;
    padding: getVar("padding.p-3.5") getVar("padding.p-5");
    gap: getVar("gap.gap-5");

    &:has(.emptyCart) {
        min-height: 100vh;
        padding: getVar("padding.p-8");
    }

    &__proceed,
    &__items {
        padding: getVar("padding.p-5");
        grid-row: 1 / -1;
        background-color: getVar("colors.white");
    }

    &__proceed {
        @include flex(center, flex-start, column);
        height: max-content;
        gap: getVar("gap.gap-2");
        grid-column: 2 / -1;

        &Btn {
            @include font("sm");
            line-height: 1;
        }
    }

    &__items {
        grid-column: 1 / 2;
    }

    &Header {
        @include flex(space-between, center);
        border-bottom: 1px solid getVar("colors.gray-300");

        &__title {
            margin-bottom: getVar("margin.m-5");
            font-weight: getVar("weight.font-semibold");
            @include font("3xl");
        }

        &__priceTag {
            align-self: flex-end;
            @include font("sm");
        }
    }

    &Products {
        @include flex(flex-start, stretch, column);
    }

    &__footer {
        text-align: right;
        border-top: 1px solid getVar("colors.gray-300");
    }
}

.emptyCart {
    @include flex(flex-start, flex-start, column);
    width: 100%;
    height: max-content;
    padding: getVar("padding.p-8");
    gap: getVar("gap.gap-4");
    grid-column: 1 / -1;
    box-shadow: 0 1px 2px 0 getVar("colors.slate-400");
    border-radius: getVar("radius.rounded");
    color: getVar("colors.gray-700");
    background-color: getVar("colors.white");

    &__heading {
        @include font("3xl");
        font-weight: getVar("weight.font-bold");
    }

    &__link {
        color: getVar("colors.blue-500");

        &:hover {
            color: getVar("colors.blue-800");
            text-decoration: none !important;
        }
    }
}

.subtotal {
    @include font("lg");

    &__cost {
        font-weight: getVar("weight.font-bold");
    }
}
