// colors
$light-text: #fff;
$dark-text: #000;
$orange-color: #fdba74;
$dark-orange-color: #fc880f;
$gray-color: #e6e6e6;
$dark-gray-color: #9a9a9a;
$blue-color: #007185;

// sizes
$small-border-radius: 0.25rem;
