// colors
$colors: (
    "white": #fff,
    "black": #000,
    gray-200: #e5e7eb,
    gray-300: #d1d5db,
    gray-400: #9ca3af,
    gray-700: #374151,
    gray-900: #111827,
    slate-200: #e2e8f0,
    slate-300: #cbd5e1,
    orange-300: #fdba74,
    amber-500: #f59e0b,
    red-600: #dc2626,
    teal-700: #0f766e,
    yellow-400: #facc15,
    yellow-500: #eab308,
);

// sizes
$radius: (
    rounded: 0.25rem,
    rounded-full: 9999px,
);

$gap: (
    gap-1: 0.25rem,
    gap-2: 0.5rem,
);

$padding: (
    p-1: 0.25rem,
    p-2: 0.5rem,
);

$weight: (
	font-bold: 700,
	font-extrabold: 800,
	font-black: 900,
);
