@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.home {
    @include flex(flex-start, flex-start, column);
    min-height: 600px;
    padding: 0 getVar("padding.p-2");
    position: relative;
    background-color: getVar("colors.gray-200");

	&__content {
		z-index: 50;
	}
}
