@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.home {
    @include flex(flex-start, center, column);
    padding: 0 getVar("padding.p-4");
    padding-bottom: getVar("padding.p-4");
    position: relative;
    background-color: getVar("colors.gray-200");

    &__content {
        @include flex(flex-start, stretch, column);
        width: 100%;
        padding: 0 getVar("padding.p-4");
        gap: getVar("gap.gap-4");
        z-index: 49;
    }

    &__guide {
        padding: getVar("padding.p-2") 0;
        text-align: center;
        background-color: getVar("colors.gray-50");
        @include font("sm");
    }

    &__link {
        color: getVar("colors.blue-500");

        &:hover {
            color: getVar("colors.red-600");
        }
    }

    &__productsWrapper {
        @include flex(flex-start, flex-start, column);
        padding: 10px 20px;
        gap: getVar("gap.gap-2");
        background-color: white;
    }

    &__heading {
        margin-top: 10px;
        font-weight: getVar("weight.font-bold");
        font-size: 21px;
    }

	.category {
		text-transform: capitalize;
	}
}
