@import "@styles/var";
@import "@styles/mixin";
@import "@styles/function";

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.skeleton {
    width: attr(data-width);
    height: attr(data-height);
    border-radius: getVar("radius.rounded");
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    background-color: getVar("colors.slate-500");

    &.line {
        width: 100%;
        height: 1rem;
        margin-bottom: 1rem;

        &.heading {
            height: 1.5rem;
        }

    }

    &.line,
    &.circle {
        border-radius: getVar("radius.rounded-full");
    }
}
