@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.product {
    @include grid(1fr, minmax(192px, 20%) minmax(629px, 1fr) 315px);
    padding: getVar("padding.p-3.5") getVar("padding.p-4");
    gap: 20px;

    &__visualInformation {
        @include grid(1fr auto, 100%);
    }

    &__imagesWrapper {
        @include flex(flex-start, center, column);
        width: 100%;
        margin-bottom: getVar("margin.m-2");
        padding-bottom: getVar("padding.p-2");
        gap: getVar("gap.gap-2");
        border-bottom: 2px solid getVar("colors.gray-300");
    }

    &__thumbnail {
        width: 100%;
        min-height: 296px;
        max-height: 450px;
        object-fit: contain;
        object-position: left top;
        position: sticky;
        top: 0;
    }

    &__otherImagesWrapper {
        @include flex(flex-start, center);
        width: 100%;
        gap: 6px;
    }

    &__otherImage {
        width: 38px;
        height: 50px;
        object-fit: contain;
        border-radius: 7px;
        border: 3px solid transparent;

        &--active {
            border-color: getVar("colors.blue-700");
        }
    }

    &__info {
        @include flex(flex-start, flex-start, column);
        gap: getVar("gap.gap-2");
        @include font("sm");
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
    }

    .rating {
        @include flex(flex-start, center);
        width: 100%;
        margin-bottom: getVar("margin.m-2");
        padding-bottom: getVar("padding.p-2");
        gap: 2rem;
        border-bottom: 2px solid getVar("colors.gray-300");

        &__rate {
            @include flex(flex-start, center);
            gap: getVar("gap.gap-2");
        }

        &__number {
            height: 100%;
        }
    }

    &__link {
        color: getVar("colors.blue-700");

        &:hover {
            color: getVar("colors.red-600");
        }
    }

    
}
