@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.productBuyOptions {
    @include flex(flex-start, center);
    width: 100%;
    padding-bottom: getVar("padding.p-3");
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 8px;
    border-bottom: 1px solid getVar("colors.gray-400");

    &--book {
        @include grid(1fr, repeat(2, 1fr));

        .buyOption {
            min-height: 50px;
        }
    }

    .buyOption {
        @include flex(space-around, flex-start, column);
        padding: 5px 10px;
        text-transform: capitalize;
        border-radius: getVar("radius.rounded-lg");
        border: 1px solid getVar("colors.gray-700");
        cursor: pointer;

        &:hover {
            background-color: getVar("colors.blue-50");
        }

        &--active {
            outline: 3px solid getVar("colors.blue-700");
            background-color: getVar("colors.blue-100");

            .buyOption__option {
                font-weight: 700;
            }
        }

        &__option {
            font-weight: getVar("weight.font-semibold");
        }

        &__price {
            font-weight: getVar("weight.font-bold");
        }
    }
}
