@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.buySection {
    padding: getVar("padding.p-2");
    border-radius: getVar("radius.rounded-lg");
    border: 5px solid getVar("colors.gray-300");
}

.buyInfo {
    @include flex(flex-start, flex-start, column);

    &__heading {
        font-weight: getVar("weight.font-bold");
    }

    &__priceWrapper {
        @include flex(flex-start, center);
        padding: getVar("padding.p-2") 0;
        flex-wrap: wrap;
        row-gap: getVar("gap.gap-2");
        column-gap: getVar("gap.gap-4");
        font-size: 28px;
    }

    &__discountPercent {
        color: getVar("colors.red-600");
    }

    &__price {
        @include flex(center, flex-start);
        font-weight: getVar("weight.font-bold");
        &::before,
        &::after {
            @include flex(center, center);
            width: max-content;
            height: 10px;
            font-weight: getVar("weight.font-medium");
            line-height: 0;
            @include font("sm");
        }

        &::before {
            content: "$";
        }

        &::after {
            content: attr(data-decimal);
        }
    }

    &__originalPrice {
        text-decoration: line-through;
        font-weight: getVar("weight.font-semibold");

        &Wrapper {
            width: 100%;
            color: getVar("colors.gray-600");
            @include font("sm");
        }
    }
}
