@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.sideMenu {
    @include flex(flex-start, flex-start, column);
    width: 365px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    color: getVar("colors.black");
    background-color: getVar("colors.white");
    transition: 0.3s;
    z-index: 100;

    &--show {
        transform: translateX(0);
    }

    &__user {
        @include flex(flex-start, center);
        @include font("lg");
        width: 100%;
        padding: getVar("padding.p-2.5");
        padding-left: getVar("padding.p-8");
        position: sticky;
        top: 0;
        gap: getVar("gap.gap-2.5");
        font-weight: getVar("weight.font-extrabold");
        color: getVar("colors.white");
        background-color: getVar("colors.slate-800");
    }

    &__content {
        @include flex(flex-start, stretch, column);
        width: 100%;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__iconWrapper {
        padding: 3px;
        display: inline-block;
        line-height: 0;
        border-radius: 100%;
        background-color: getVar("colors.white");

        .icon {
            color: getVar("colors.slate-800");
        }
    }

    &__list {
        border-bottom: 1px solid getVar("colors.gray-300");
    }

    &__item {
        .icon {
            color: getVar("colors.slate-400");
        }

        .wrapper {
            @include flex(flex-start, center);
            gap: getVar("gap.gap-2");
        }
    }

    &__flag {
        width: 20px;
    }
}
