@import "@styles/_mixin.scss";
@import "@styles/_var.scss";

.headerTopSection {
    @include flex(space-between, stretch);
    padding: 4px;
    gap: 1rem;
    color: $text-color;
    background-color: #131921;

    &__logo {
        width: 115px;
        cursor: pointer;
    }

    &__location {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        font-size: 14px;
        color: rgb(204, 204, 204);

        .icon {
            grid-row: 1 / -1;
        }

        .locationName {
            font-weight: 700;
            font-size: 17px;
            color: #fff;
        }
    }

    .searchBar {
        @include flex(center, center);
        margin: 4px 0;
        flex-grow: 1;
        border-radius: 0.25rem;
        overflow: hidden;

        &__select,
        &__input,
        &__button {
            height: 100%;
        }

        &__select {
            width: max-content;
            padding: 0 10px;
            border-right: 1px solid rgb(148, 163, 184);
        }

        &__input {
            flex-grow: 1;
            padding: 0 1rem;
        }

        &__button {
            aspect-ratio: 1;
            cursor: pointer;
            background-color: $search-btn-background;

            &:hover {
                background-color: darken($search-btn-background, 10%);
            }
        }
    }

    & > * {
        border: 1px solid transparent;

        &:not(.searchBar):hover {
            border-color: white;
        }
    }
}
