@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.product {
    &.book {
        .product__imagesWrapper {
            border-bottom: 2px solid getVar("colors.gray-300");
        }

        .product__thumbnailWrapper {
            @include flex(flex-start, center, column-reverse);
            gap: getVar("gap.gap-1");
        }

        .product__thumbnail {
            width: 100%;
            min-height: 296px;
            max-height: 450px;
            object-position: left top;
        }

        .product__otherImagesWrapper {
            @include flex(flex-start, center);
            height: fit-content;
        }
    }

    &__imagesWrapper {
        @include flex(flex-start, center, column);
        width: 100%;
        margin-bottom: getVar("margin.m-2");
        padding-bottom: getVar("padding.p-2");
        gap: getVar("gap.gap-2");
        overflow: hidden;
    }

    &__thumbnailWrapper {
        @include grid(1fr, auto 1fr);
        width: 100%;
        place-items: center;
		gap: getVar("gap.gap-2");
        position: sticky;
        top: 0;
    }

    &__thumbnail {
        width: 412px;
        height: 490px;
        object-fit: contain;
        object-position: center;

        &--loading {
            display: none;
        }
    }

    &__otherImagesWrapper {
        @include flex(flex-start, center, column);
        width: 100%;
        height: 100%;
        gap: 6px;
    }

    &__otherImage {
        width: 38px;
        height: 50px;
        object-fit: contain;
        border-radius: 7px;
        border: 3px solid transparent;

        &--active {
            border-color: getVar("colors.blue-700");
        }
    }
}
