@import "@styles/_var.scss";
@import "@styles/_mixin.scss";
@import "@styles/_function.scss";

.product {
    &__imagesWrapper {
        @include flex(flex-start, center, column);
        width: 100%;
        margin-bottom: getVar("margin.m-2");
        padding-bottom: getVar("padding.p-2");
        gap: getVar("gap.gap-2");
        border-bottom: 2px solid getVar("colors.gray-300");
    }

    &__thumbnailWrapper {
        position: sticky;
        top: 0;
    }

    &__thumbnail {
        width: 100%;
        min-height: 296px;
        max-height: 450px;
        object-fit: contain;
        object-position: left top;
    }

    &__otherImagesWrapper {
        @include flex(flex-start, center);
        width: 100%;
        gap: 6px;
    }

    &__otherImage {
        width: 38px;
        height: 50px;
        object-fit: contain;
        border-radius: 7px;
        border: 3px solid transparent;

        &--active {
            border-color: getVar("colors.blue-700");
        }
    }
}
